<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table border="1" align="center">
    <tbody>
    <tr th:each="student: ${students}">
    <td th:text="${student.id}"/>
    <td th:text="${student.name}"/>
    <td th:text="${student.surname}"/>
    <td th:text="${student.address}"/>
    <td th:text="${student.grade}"/>
    </tr>
    </tbody>
    </table>
</body>
</html>